@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400&display=swap');

.close a{
text-decoration: none;
font-size: 15px;
font-weight: bold;
color: #dfdfdf;
}

.heroContent {
  background: rgb(139,208,195);
background: linear-gradient(0deg, rgb(119, 198, 235) 0%, rgb(128, 212, 250) 9%, rgba(255,255,255,1) 100%);
  padding: 20px 0 50px 0;

}
.bio {
  font-family: 'Roboto Condensed', sans-serif;
  letter-spacing: 0.01em;
}
.learnedList  {
  width: 100%;
}
.list {
  width: 100%;
  text-align: center;
  font-size: 18px;
}
.list li:nth-child(odd) {
  background: #dfdfdf;
}