@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');
body {
  box-sizing: border-box;
  background: #000000;
  max-width: 100%;
  overflow-x: hidden;
}
.close a{
text-decoration: none;
font-size: 15px;
font-weight: bold;
color: #dfdfdf;
}

.heroContent {
 padding: 40px 0 50px 0;
 background: rgb(227,227,227);
 background: linear-gradient(0deg, rgb(211, 211, 211) 4%, rgba(255,255,255,1) 85%);
 
}
.bio {
  font-family: 'Roboto Condensed', sans-serif;
  line-height: 1.3em;
  font-size: 20px;
  padding: 0px 5%;
  
}

.list {
  text-align: center;
  font-size: 18px;
  width: 100%;
  height: auto;
}
.aboutDetails {
  width: 100vw;
  height: 100vh;;
}
.list li:nth-child(odd) {
  background: #dfdfdf;
}
.aboutPhoto {
  max-width: 100%;
 margin-bottom: 3em;

}
.aboutContact {
  background: rgb(17,17,17);
background: linear-gradient(43deg, rgba(17,17,17,1) 0%, rgba(153,153,153,1) 100%);
}
.contactColumn a {
  text-decoration: none;
  color: #000000;
  text-align: center;
}
.aboutBox {
padding: 2%;
background: rgba(0, 0,0, 0.4);
box-shadow:  0px 0px 30px #000000;
border: 3px solid #000000;
color: white;
}
.webButton {
 font-size: 0.9em;
 cursor: pointer;
}
.jumbotron {
  height: 60vh;
  width: 100%;
  padding-top: 10%;
  background: url('./assets/images/bg-bw.png');
  background-position: center;
  background-size: cover;
}
.accHeader {
margin:0 0;
}

.footCol {
  text-align: center;
color: #919191;
font-size: 0.8em;
}
.footCol a{
 text-decoration: none;
 color: #dfdfdf;
 
}
.footCol a:hover{
  color: #919191;
  transition-duration: 0.2s;
 }
.resume {
  width: 100%;
  text-align: center;
}
.sum {
max-height: 80px;
}
.sum img {
 display: none;
}
.whiteLogo {
 max-width: 50%;
 height: 140px;
 margin: 3% 25% 0% 25%;
}
.aboutContacth {
  color: #919191;
  font-size:0.5em;
}
.shortBio {
  display: none;
}
.jumboImg {
width: 200px;
margin: 0 auto;
}
.jumboImg img {
  max-width: 100%;
  border: 5px solid #dfdfdf7e;
}
#typewriter{
  display: none;
}
@media screen and (min-width: 480px) {
.aboutContact {
  padding: 2%;
  background: url('../src/assets/images/modal.png');
  background-size: cover;
  background-position: center;
}
.bio {
  text-align: left;
  padding: 0px;
}
.sum img {
  display: inline;
  margin: 0 auto;
  max-width: 150px;
}
.whiteLogo {
  display: none;
}
.aboutContacth {
display: none;
}
.jumboImg {
  display: none;
}
.typewrite{
  color: #dfdfdf;
  text-decoration: none;
}
#typewriter {
  display: block;
  height: 200px;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.619);
  box-shadow:rgba(0, 0, 0, 0.9) 0px 0px 20px;
  padding:3%;
  font-size: 1.2em;
  width: 50%;
  font-family: 'Roboto Mono', monospace;
}
.jumbotron {
  height: 50vh;
}
}
