@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400&display=swap');
body {
  box-sizing: border-box;
}
.close a{
text-decoration: none;
font-size: 15px;
font-weight: bold;
color: #dfdfdf;
}

.heroContent {
 padding: 40px 0 50px 0;
 background: rgb(227,227,227);
 background: linear-gradient(0deg, rgb(211, 211, 211) 4%, rgba(255,255,255,1) 85%);
 
}
.bio {
  font-size: 1.5em;
  font-family: 'Roboto Condensed', sans-serif;
  letter-spacing: 0.01em;
  line-height: 1.5em;
  
}
.learnedList  {
  width: 100%;
}
.list {
  width: 100%;
  text-align: center;
  font-size: 18px;
}
.list li:nth-child(odd) {
  background: #dfdfdf;
}
.aboutPhoto {
  max-width: 100%;
 margin-bottom: 3em;

}
.aboutBox {
  height: 90%;
  padding: 10%;
 
}
.webButton {
 font-size: 0.9em;
 cursor: pointer;
}